.navbar{
    background-color: rgb(197, 197, 211);
width: 100%;
border: 2px solid black;
border-radius: 40px;



}
.navbar li{
float: left;
list-style: none;
padding: 20px;
margin-left: 120px;

}

.navbar ul {
    overflow: auto;
    margin: auto;
}

.navbar ul a {
text-decoration: none;
color: #fff;
padding: 20px;
}

a:hover {
    background-color: brown;
}



